*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #282828;
}

#inicio{
    background-color: #9576BF;
}

.navbarcolor{
    background-color: #9576BF;
    color:white;
}

.btnnav{
    color: white;
}

.btnnav hover{
    color: black;
}

.btnidioma{
    font-size: 20px;
}

.btn button{
    border: 3px solid rgba(100, 100, 100, 0.1);
    margin-bottom: 20px;
    padding: 5px;
    width: 280px;
    height: 80px;
    font-size: 20px;
    border-radius: 0px;
    color: #FFF;
    background-size: 300%;
    cursor: pointer;
    background-image: linear-gradient(to left, #2E0E36,#824B81, #2E0E36);
    justify-content: center;

    -webkit-transition: all 0.8s linear 0s;
    -moz-transition: all 0.8s linear 0s;
    -o-transition: all 0.8s linear 0s;
}

.btn button:hover{
    background-image: none;
    background-color: #824B81;
}

.btn2 button{
    border: 3px solid rgba(100, 100, 100, 0.1);
    margin-bottom: 20px;
    padding: 5px;
    width: 280px;
    height: 80px;
    font-size: 20px;
    border-radius: 0px;
    color: #FFF;
    background-size: 300%;
    cursor: pointer;
    background-image: linear-gradient(to left, #9576BF,#824B81, #9576BF);
    justify-content: center;

    -webkit-transition: all 1s linear 0s;
    -moz-transition: all 1s linear 0s;
    -o-transition: all 1s linear 0s;
}

.btn2 button:hover{
    background-image: none;
    background-color: #2E0E36;
}

.prequisitos{
    font-size: 18pt;
    color: white;
}

.card{
    background-color: #282828;
}

.jolly{
    align-items: center;
    border: 2px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    width:100%;
}

.titulo{
    color:#FFF;

    -webkit-transition: all 1s linear 0s;
    -moz-transition: all 1s linear 0s;
    -o-transition: all 1s linear 0s;
}

.titulo:hover{

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.imginfo{
    -webkit-transition: all 0.8s ease-in-out 0s;
    -moz-transition: all 0.8s ease-in-out 0s;
    -o-transition: all 0.8s ease-in-out 0s;
}

.imginfo:hover{
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
}

.textocard{
    -webkit-transition: all 0.8s ease-in-out 0s;
    -moz-transition: all 0.8s ease-in-out 0s;
    -o-transition: all 0.8s ease-in-out 0s;
}

.textocard:hover{
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
}

h3{
    color:#FFF;

    -webkit-transition: all 1.5s linear 0s;
    -moz-transition: all 1.5s linear 0s;
    -o-transition: all 1.5s linear 0s;
}

h3:hover{
    color:#9576BF;
    text-decoration: underline;

    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
}

.contacto{
    -webkit-transition: all 1s linear 0s;
    -moz-transition: all 1s linear 0s;
    -o-transition: all 1s linear 0s;
}

.contacto:hover{
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
}

.usubody{
    -webkit-transition: all 0.8s ease-in-out 0s;
    -moz-transition: all 0.8s ease-in-out 0s;
    -o-transition: all 0.8s ease-in-out 0s;
}

.usubody:hover{
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
}